.countContainer{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.count{
    color: #ffffff;
    font-size: 20px;
    font-family: 'Oswald', sans-serif;
}

.button{
    width: 30px;
    margin: 15px;
    font-size: 2rem;
}
.button2{
    font-size: 1.3rem;
    position: relative;
    padding: 10px;
}
