.countContainer{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.count{
    color: #ffffff;
    font-size: 1rem;
    font-family: 'Oswald', sans-serif;
}

.button, .button2{
    padding: .5rem;
    font-weight: 400;
    background-color: var(--main-color);
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1rem;
    transition: all .3s ease-in;
    color: #fff;
    margin: .3rem;
  }
  
  .button:hover, .button2:hover{
    background-color: #000;
    border: 1px solid white;
  }


