*{
  margin: 0;
  padding: 0;
}

body{
  background-color: #000000;
}

.saludo{
  color:#00ffff;
  display: flex;
  justify-content: flex-end;
}

.material-symbols-outlined{
  font-size: 40px;
  margin-right: 60px;
  color: #000000;
}
