.nav{
    height: 12vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #121212;
    justify-content: space-between;
}

.title{
    font-size: 35px;
    left: 0;
    color: #7fffd4;
    margin-left: 60px;
    font-family: 'Oswald', sans-serif;
}

ul{    
    width: 35%;
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 20px;  
    margin-right: 60px;  
}

a{
    text-decoration: none;
    color: #00ffff;
    font-family: 'Oswald', sans-serif;
}
