.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    padding: 3rem 2%;
}

.list{    
    width: 70%;
    margin-left: 25%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;    
}

a{
    text-decoration: none;
    color: #fff;
}


.logo{
    position: absolute;
    width: 180px;
    margin: 0px 50px;
}